@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our platform , where you can easily get assistance and guidance in various aspects of technologies <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
